 .u-section-1 {
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 4.5rem;
  width: 740px;
  font-weight: 700;
  margin: 349px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 138px auto 20px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 199px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 500;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 167px;
  height: 149px;
  margin: 0 auto 0 63px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 199px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 0;
  width: 0;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-1 .u-image-1 {
    width: 97px;
    height: 87px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 445px;
  }
} .u-section-2 {
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: normal;
  margin: 74px 183px 0 217px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 217px 175px 0 225px;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  text-transform: uppercase;
  margin: 61px 183px 60px 217px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 117px;
    margin-right: 83px;
    width: 740px;
  }

  .u-section-2 .u-text-2 {
    font-weight: normal;
    margin-top: 13px;
    margin-right: 75px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-3 {
    font-weight: normal;
    margin-right: 83px;
    margin-left: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: url("images/11.jpg?rand=9c48");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 841px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 4px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 74px 183px 0 217px;
}

.u-section-3 .u-list-1 {
  margin-top: 217px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 336px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  width: 214px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  width: 214px;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  width: 214px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 83px;
    margin-left: 117px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 637px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }
} .u-section-4 {
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 928px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 4.5rem;
  width: 909px;
  font-weight: 700;
  margin: 349px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 60px;
  padding: 21px 30px 23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}